.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgb(209, 163, 251), rgb(167, 233, 255));
    
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange children in a column */
    margin-bottom: 15px;
    align-items: flex-start; /* Align items to the start by default */
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    padding-left: 25px;
  }
  
  .form-group input {
    width: 80%; /* Small width */
    padding: 8px;
    box-sizing: border-box;
    border: none; /* No border */
    border-radius: 5px; /* Rounded edges */
    align-self: center; /* Center the input field */
  }
  
  input:focus {
    border: 3px solid lightblue; /* Border when focused */
    outline: none; /* Remove default outline */
    border-radius: 5px; /* Rounded edges */

  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #130d5b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #181630;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  